<!--<h1 *ngIf="authService.user | async">Welcome {{ (authService.user | async)?.email }}!</h1>
<button (click)="logout()" *ngIf="authService.user | async">Logout</button>
*ngIf="authService.user | async"

<h2>Hey {{ name.auth.displayName }}!</h2>-->
<div class="form-container" id="toolbar">
  <header>
    <a *ngIf="!userNotAdmin()" routerLink="/user-manage" id="goback">Go back</a>
    <button class="alc" *ngIf="userNotAdmin() && authService.user | async" (click)="logout()" class="basic-btn">Logout</button>
  </header>
  <div id="page">
    <h3 class="alc">Welcome {{ userInfo?.displayName }}!</h3>
    <h4 class="alc">{{ (userInfo)?.email }}</h4>
  </div>

  <div class="user">
    <form id="userForm">
      <p>
        <label>First Name</label>
        <input type="text" *ngIf="userInfo" [(ngModel)]="userInfo.firstName" (ngModelChange)="userInfo.firstName=$event" name="firstName" placeholder="First Name.."> 
      </p>
      <p>
        <label>Last Name</label>
        <input type="text" *ngIf="userInfo" [(ngModel)]="userInfo.lastName" name="lastName" placeholder="Last Name..">  
      </p>
      <p>
        <input type="submit" value="Submit" (click)="updateUser()">
      </p>
    </form>
  </div>
  
</div>