<mat-card class="form-container">
  <mat-card-content>
    <h2 class="alc"><strong>Auto Loan Refi</strong></h2>
    <h2 class="alc">Secure Website</h2>
    <!-- <h3 class="alc">Login Page</h3> -->
    <img src="assets/images/lock.svg" id="lock">
    <!-- <span class="error" *ngIf="error">{{ error }}</span> -->

    <button (click)="facebookLogin()" id="fb">Login With Facebook</button><br>
    <button (click)="googleLogin()" id="google">Login With Google</button>
    <button routerLink="/email-login" id="email">Email</button>

    <a routerLink="/signup" routerLinkActive="active" class="alc">No account? <strong>Create one here</strong></a>
    <a routerLink="/reset-password" routerLinkActive="active" class="alc">Forgot password? <strong>Reset here</strong></a>
  </mat-card-content>
</mat-card>