<mat-card>
    <a routerLink="/user-manage" id="goback">Go back</a>
    <br>
    <br>
    <mat-list-item *ngIf="form1Data">Last Updated: {{form1Data.updateTime}}</mat-list-item>
    <br>
    <mat-form-field *ngIf="form1Data">
      <input matInput [(ngModel)]="form1Data.field1.fieldValue" placeholder={{form1Data.field1.fieldName}}> 
    </mat-form-field>
    <!--
    <mat-form-field *ngIf="(authService.user | async)?.role ==='admin' && userInfo">
        <mat-select [(ngModel)]="userInfo.role" placeholder="Role">
            <mat-option value="admin">admin</mat-option>
            <mat-option value="user">user</mat-option>
          </mat-select>
    </mat-form-field>  
  -->
    <br>
    <button *ngIf="form1Data" mat-raised-button color="primary" (click)="updateFormData()">Submit</button>
  </mat-card>