<div class="form-container">
  <a routerLink="/login" id="goback">Go back</a>
  <h2>Rest Password</h2>

  <!--<span class="error" *ngIf="error" [@fallIn]='state'>{{ error }}</span> -->

  <form #formData='ngForm' (ngSubmit)="resetPassword(formData)">

    <input matInput type="email" placeholder="Email address.." (ngModel)="formData.email" name="email" required>

    <button mat-raised-button color="primary" [disabled]="!formData.valid">Submit</button>
    <a routerLink="/signup" class="alc">Don't have an account?</a>
  </form>
</div>