<!--<h1 *ngIf="authService.user | async">Welcome {{ (authService.user | async)?.email }}!</h1>
<div *ngIf="!(authService.user | async)">
  <input type="text" [(ngModel)]="email" placeholder="email">
  <button (click)="resetPassword()" [disabled]="!email">Submit</button>
</div>
-->

<div class="form-container">
  <a routerLink="/login-email" id="goback">Go back</a>
  <h2>Rest Password</h2>

  <span class="error" *ngIf="error" [@fallIn]='state'>{{ error }}</span>

  <form #formData='ngForm' (ngSubmit)="resetPassword(formData)">

    <input type="text" placeholder="Email address.." (ngModel)="email" name="email" class="txt" required>

    <button type="submit" [disabled]="!formData.valid" class="basic-btn">Submit</button>
    <a routerLink="/signup" class="alc">Don't have an account?</a>
  </form>
</div>