<mat-card class="form-container">
    <mat-card-content *ngIf="formData">
      <a (click)="goBack()" id="goback">Go back</a>
      <br>
      <br>
        <mat-list *ngIf="fields">
          <mat-list-item><strong>{{formData.formName}}</strong></mat-list-item>
          <br>
          <div *ngFor="let field of fields">
              <mat-list-item><strong>{{field.name}}</strong>&nbsp;&nbsp;&nbsp;&nbsp;{{field.value}}</mat-list-item>
          </div>
        </mat-list>
    </mat-card-content>
  </mat-card>
