<mat-card>
  <mat-card-content>
    <a routerLink="/user-manage" id="goback">Go back</a>
    <br>
    <br>
    <button mat-raised-button (click)="openDialog()">Create/Recreate Forms</button>
    <mat-list *ngFor="let form of forms | async">
        <mat-list-item><strong>{{form.formName}}</strong>
          <a (click)="editClick(form.formId);" class="secondary-content">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Configure</a>
          <!--<a (click)="openDialog();" class="secondary-content">&nbsp;&nbsp;&nbsp;Delete</a> -->
        </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
  