<mat-card *ngIf="form">
    <a (click)="goBack()" id="goback">Go back/Cancel</a>
    <br><br>
    <hr>
    <p>Last Updated: {{form.updateTime}}</p>
    <br>
    <mat-form-field>
      <input matInput [(ngModel)]="form.formName" placeholder="Form Name..."> 
    </mat-form-field>
    <br>
    <button mat-raised-button (click)="addField()">Add Field</button>
    <button mat-raised-button (click)="openDeleteAllDialog()">Delete All Fields</button>
    <hr>
    <div *ngFor="let field of fields">
      <!--<button mat-raised-button *ngIf="(authService.user | async)?.role == 'admin'" (click)="DeleteField(field.inde)">Delete Field</button> -->
      <button mat-raised-button (click)="openDeleteDialog(field.index)">Delete Field</button>
      <mat-form-field>
        <textarea matInput [ngModel]='getName(field.index)' (ngModelChange)='setName($event,field.index)' placeholder="Field Description.."></textarea> 
      </mat-form-field>

      <mat-form-field>
        <mat-select [ngModel]='getType(field.index)' (ngModelChange)='setType($event,field.index)' placeholder="Field Type..">
          <mat-option value="textbox">text box</mat-option>
          <mat-option value="textarea">text area</mat-option>
          <mat-option value="select">pull down</mat-option>
          <mat-option value="date">date picker</mat-option>
          <mat-option value="checkbox">check box</mat-option>
        </mat-select>
      </mat-form-field>

      <br>
      <div *ngIf="getType(field.index) === 'select'">
        <mat-form-field>
          <input matInput [ngModel]='getOption(field.index,1)' (ngModelChange)='setOption($event,field.index,1)' placeholder="Select Option 1.."> 
        </mat-form-field>
        <mat-form-field>
          <input matInput [ngModel]='getOption(field.index,2)' (ngModelChange)='setOption($event,field.index,2)' placeholder="Select Option 2.."> 
        </mat-form-field>
        <mat-form-field>
          <input matInput [ngModel]='getOption(field.index,3)' (ngModelChange)='setOption($event,field.index,3)' placeholder="Select Option 3.."> 
        </mat-form-field>
        <br>
        <mat-form-field>
          <input matInput [ngModel]='getOption(field.index,4)' (ngModelChange)='setOption($event,field.index,4)' placeholder="Select Option 4.."> 
        </mat-form-field>
        <mat-form-field>
          <input matInput [ngModel]='getOption(field.index,5)' (ngModelChange)='setOption($event,field.index,5)' placeholder="Select Option 5.."> 
        </mat-form-field>
        <mat-form-field>
          <input matInput [ngModel]='getOption(field.index,6)' (ngModelChange)='setOption($event,field.index,6)' placeholder="Select Option 6.."> 
        </mat-form-field>
      </div>
    </div>
    <hr>
    <br>
    <button mat-raised-button color="primary" (click)="updateFormAndRoute()">Submit</button>
  </mat-card>
  