<mat-card>
  <a routerLink="/user-manage" id="goback">Go back/Cancel</a>
  <br>
  <br>
  <mat-list-item *ngIf="formData">Last Updated: {{formData.updateTime}}</mat-list-item>
  <br>
  <div *ngFor="let field of fields;">
    <!-- <div *ngFor="let type of types">
      <div *ngFor="let value of values"> -->
        <mat-form-field *ngIf="formData && formData.field1.type == 'textbox'">
         <!-- <input matInput [(ngModel)]="getValue(idx)" placeholder={{name}}> -->
          <input matInput [ngModel]='getValue(field.index)' (ngModelChange)="setValue($event,field.index)" placeholder={{field.name}}> 
    <!--  <input matInput [(ngModel)]="formData.field1.value" placeholder={{formData.field1.name}}> -->
        </mat-form-field>

        <mat-form-field *ngIf="formData && formData.field1.type == 'textarea'">
            <textarea matInput [(ngModel)]="formData.field1.value" placeholder={{formData.field1.name}}> </textarea>
          </mat-form-field>

        <mat-form-field *ngIf="formData && formData.field1.type == 'select'">
            <mat-select [(ngModel)]="formData.field1.value" placeholder={{formData.field1.name}}>
                <mat-option value={{formData.field1.option1}}>{{formData.field1.option1}}</mat-option>
                <mat-option value={{formData.field1.option2}}>{{formData.field1.option2}}</mat-option>
                <mat-option value={{formData.field1.option3}}>{{formData.field1.option3}}</mat-option>
              </mat-select>
        </mat-form-field>  

        <mat-form-field *ngIf="formData && formData.field1.type == 'date'">
            <input matInput [matDatepicker]="picker" [(ngModel)]="formData.field1.value" placeholder="Choose a date">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
   <!-- </div>
  </div> -->
  <br>
  <button *ngIf="formData" mat-raised-button color="primary" (click)="updateFormData()">Submit</button>
</mat-card>