<mat-card>
  <a (click)="goBack()" id="goback">Go back</a>
  <hr>
  <mat-card-content>
      <button mat-raised-button color="primary" (click)="viewSelected()">View Selected</button>&nbsp;&nbsp;&nbsp;
      <button mat-raised-button color="primary" (click)="goToCart()">Shopping Cart</button>
 </mat-card-content>
</mat-card>
      
<!-- <div *ngIf="userInfo" class="mat-elevation-z8"> Form History for: {{userInfo.firstName}} {{userInfo.lastName}}-->
<mat-table #table [dataSource]="dataSource" matSort>

  <ng-container matColumnDef="select" > 
      <mat-header-cell *matHeaderCellDef>
          <mat-checkbox *ngIf="selection" (change)="$event ? masterToggle() : null"
              [checked]="selection.hasValue() && isAllSelected()"
              [indeterminate]="selection.hasValue() && !isAllSelected()">
          </mat-checkbox>
      </mat-header-cell>
      <mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()"
              (change)="$event ? selection.toggle(row) : null"
              [checked]="selection.isSelected(row)">
          </mat-checkbox>
      </mat-cell>
  </ng-container>

  <ng-container matColumnDef="addToCart">
    <mat-header-cell *matHeaderCellDef> Add Cart</mat-header-cell>
    <mat-cell *matCellDef="let usersInfo"> <a (click)="addToCart(usersInfo.uid)"><mat-icon>add</mat-icon></a> </mat-cell>
  </ng-container>
  <ng-container matColumnDef="displayName">
    <mat-header-cell *matHeaderCellDef  mat-sort-header> Name </mat-header-cell>
    <mat-cell *matCellDef="let usersInfo"> {{usersInfo.displayName}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="joinedTime">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Joined </mat-header-cell>
    <mat-cell *matCellDef="let usersInfo"> {{usersInfo.joinedTime}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="dob">
    <mat-header-cell *matHeaderCellDef mat-sort-header> DOB </mat-header-cell>
    <mat-cell *matCellDef="let usersInfo"> {{usersInfo.dob}} </mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"> 
              (click)="selection.toggle(row)"></mat-row>
</mat-table>
<mat-paginator #paginator
               [pageSize]="20"
               [pageSizeOptions]="[5, 10, 20, 50, 100]">
</mat-paginator>
<!--</div> -->