<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav class="example-sidenav" color="primary">
      <mat-toolbar color="primary">
          <mat-toolbar-row (click)="show_inbox()" matTooltip="Inbox">
              <span (click)="sidenav.toggle()">Inbox</span>
              <span class="example-spacer"></span>
              <mat-icon class="example-icon" *ngIf="show_inbox_icon">verified_user</mat-icon>
          </mat-toolbar-row>
          <mat-toolbar-row (click)="show_portal()" matTooltip="Lender Portal">
            <span (click)="sidenav.toggle()">Portal</span>
            <span class="example-spacer"></span>
            <mat-icon class="example-icon" *ngIf="show_portal_icon">verified_user</mat-icon>
          </mat-toolbar-row>
          <mat-toolbar-row (click)="logout()" matTooltip="Log Out">
            <span (click)="sidenav.toggle()">Logout</span>
          </mat-toolbar-row>
        </mat-toolbar>
  </mat-sidenav>

  <mat-toolbar color="primary" *ngIf="userInfo">
      <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon class="mat-24" matTooltip="Menu">menu</mat-icon>
      </button>
      <div style="position: absolute;right: 5%;" matTooltip="Name">{{ userInfo.displayName }}</div>
  </mat-toolbar>

  <div class="container app-content">
      
      <div *ngIf="inbox; else portal">
<!--        <app-msg-inbox [username]="username" [archived_inbox]="archived_inbox" (conversation_info)="get_messages($event)"></app-msg-inbox>-->
        <app-msg-inbox></app-msg-inbox>
      </div>
  </div>
</mat-sidenav-container>

<ng-template #portal>
<mat-card class="user-container">
  <mat-card-header>
    <a *ngIf="authService.user | async" id="goback" (click)="logout()">Logout</a>
  </mat-card-header>
  <hr>
  <mat-card-content><h4>Lender Portal</h4>
    <mat-list *ngIf ="authService.user | async; let user">
      <mat-list-item ><strong>{{userInfo.displayName}}</strong> &nbsp;
          <a matTooltip="Edit Profile" (click)="editClick(user.uid);">&nbsp;&nbsp;&nbsp;<mat-icon>create</mat-icon></a>
      </mat-list-item>
    </mat-list>
    <mat-list> 
      <mat-list-item *ngIf = "authService.user | async; let user" >
        <a id="goback" (click)="goInterestArea(user.uid);">
      <mat-icon>create</mat-icon>&nbsp;&nbsp;Manage Lending Area of Interest</a>
      <hr>
      </mat-list-item>
      <mat-list-item *ngIf = "authService.user | async; let user" >
        <a id="goback" (click)="goFormManage(user.uid);">
      <mat-icon>create</mat-icon>&nbsp;&nbsp;Manage/Configre Application Forms</a>
      <hr>
      </mat-list-item>
      <mat-list-item *ngIf = "authService.user | async; let user" >
        <a id="goback" (click)="viewBorrowers()"><mat-icon>person</mat-icon>&nbsp;&nbsp;&nbsp;Potential Applicants</a>
      </mat-list-item>
      <mat-list-item *ngIf = "authService.user | async; let user" >
        <a id="goback" (click)="goToCart(user.uid)"><mat-icon>shop</mat-icon>&nbsp;&nbsp;&nbsp;Shopping Cart</a>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
  <hr><h5>Purchased Applicants:</h5>
  <mat-card-content>
    <mat-list *ngFor="let user of users">
    <mat-list-item >
        <strong>{{user.displayName}}</strong> &nbsp;
          <a matTooltip="View User Profile" (click)="editClick(user.uid);" >&nbsp;&nbsp;&nbsp;&nbsp;<mat-icon>person</mat-icon></a>
          <a matTooltip="Assign Form to User" (click)="goFormAssign(user.uid);">&nbsp;&nbsp;&nbsp;&nbsp;<mat-icon>assignment</mat-icon></a>
          <a matTooltip="View User Form History"(click)="goFormHistory(user.uid);">&nbsp;&nbsp;&nbsp;&nbsp;<mat-icon>history</mat-icon></a>
          <a matTooltip="Send a private message"(click)="goMsgCompose(user.uid);">&nbsp;&nbsp;&nbsp;&nbsp;<mat-icon>mail</mat-icon></a>
      </mat-list-item>
      <mat-list-item >
        <mat-icon matTooltip="Assigned Form(s)">subject</mat-icon>
        <div *ngFor="let userForm of userForms">
          <a matTooltip="View Assigned Form" *ngIf="userForm.uid === user.uid" (click)="goToForm(user.uid,userForm.formId);" >&nbsp;&nbsp;{{userForm.formName}}</a>
        </div>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
</ng-template>