<!--<div *ngIf="!(authService.user | async)">
  <input type="text" [(ngModel)]="email" placeholder="email">
  <input type="password" [(ngModel)]="password" placeholder="password">
  <input type="password" [(ngModel)]="password2" placeholder="repeat password">
  
  <button (click)="signup()" [disabled]="!email || !password || !password2">
    Signup
  </button>
</div>
-->

<div class="form-container">
  <a routerLink="/login" id="goback">Go back</a>

  <h2>Join now</h2>

  <span class="error" *ngIf="error">{{ error }}</span>
    
  <form #formData='ngForm' (ngSubmit)="signup(formData)">

    <input type="text" placeholder="Email address.." (ngModel)="email" name="email" class="txt" required>
    <input type="password" placeholder="Password" (ngModel)="password" name="password" class="txt" required>
    <input type="password" placeholder="Confirm Password" (ngModel)="password2" name="password2" class="txt" required>
    
    <button type="submit" class="basic-btn">Create my account</button>
  </form>
</div>
