<mat-card class="form-container">
  <mat-card-content>
    <a (click)="goBack()" id="goback">Go back/Cancel</a>
    <br>
    <br>
    <!-- <button mat-raised-button (click)="openDialog()">Create/Recreate first 10 Forms</button> -->
    <button mat-raised-button  color="primary" (click)="addForm()"><mat-icon>add</mat-icon>Form</button>
    <button mat-raised-button  color="warn" *ngIf="userInfo"(click)="openDeleteAllDialog()"><mat-icon>delete</mat-icon>All Forms</button>
    <mat-list *ngFor="let form of forms | async">
        <mat-list-item><strong>{{form.formName}}</strong>
          <a (click)="editClick(form.formId);" class="secondary-content">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<mat-icon>build</mat-icon></a>
          <a *ngIf="userInfo"(click)="openDeleteDialog(form.formId);" class="secondary-content">&nbsp;&nbsp;&nbsp;<mat-icon>delete</mat-icon></a>
        </mat-list-item>
      </mat-list>
  </mat-card-content>
</mat-card>