@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "../node_modules/font-awesome/css/font-awesome.css";

body {
    background: rgb(50, 65, 145);
    padding-top:4em;
}
.general-container {
    background:#ECEFF1;
    padding:3.5em;
    width:650px;
    left:5%;
    overflow-y: scroll;
    /*position:fixed;
    left:50%;
    margin-left:-250px;*/
}
.user-container {
    background:white;
    padding:3.5em;
    width:700px;
    position:fixed;
    left:50%;
    margin-left:-250px;
    overflow-y: scroll;
}
#goback {
    font-weight:bold;
    text-transform:uppercase;
    font-size:.8em;
    color:rgb(39, 82, 99);
}
#goback span {
    font-size:1em;
}

/* Rules for sizing the icon. */
.material-icons.mat-18 { font-size: 18px; }
.material-icons.mat-24 { font-size: 24px; }
.material-icons.mat-36 { font-size: 36px; }
.material-icons.mat-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.mat-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.mat-dark.mat-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.mat-light { color: rgba(255, 255, 255, 1); }
.material-icons.mat-light.mat-inactive { color: rgba(255, 255, 255, 0.3); }

a:hover {
    cursor:pointer;
}
   