<mat-card>
  <mat-card-header>
    <a *ngIf="authService.user | async" (click)="logout()">Logout</a>
    <!--<button mat-raised-button color="primary" *ngIf="authService.user | async" (click)="logout()" >Logout</button> -->
  </mat-card-header>
  <br>
  <mat-card-content>
    <mat-list  *ngFor="let user of users | async">
      <mat-list-item *ngIf = "((authService.user | async)?.role ==='admin' || (authService.user | async)?.role ==='super') &&  (authService.user | async)?.uid === user.uid;" >
        <a (click)="goFormManage(user.uid);"class="secondary-content">Manage/Configre Form Templates </a>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-content> &nbsp;&nbsp;&nbsp;Manage Users
    <mat-list *ngFor="let user of users | async">
      <mat-list-item *ngIf = "(authService.user | async)?.role ==='admin' || (authService.user | async)?.role ==='super' || (authService.user | async)?.uid === user.uid"><strong>{{user.firstName}}</strong> &nbsp; {{user.lastName}}&nbsp;
        <a (click)="editClick(user.uid);" class="secondary-content">&nbsp;(Profile)</a>
        <div *ngIf = "(authService.user | async)?.role ==='admin' || (authService.user | async)?.role ==='super'">
            <a (click)="goFormAssign(user.uid);"class="secondary-content">&nbsp;&nbsp;(Form-Assign)</a>
            <a (click)="goFormHistory(user.uid);"class="secondary-content">&nbsp;&nbsp;(Form-History)</a>
        </div>
        </mat-list-item>
      <mat-list-item *ngIf = "(authService.user | async)?.role ==='admin' || (authService.user | async)?.role ==='super' || (authService.user | async)?.uid === user.uid">
        <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Active Forms:</div>
        <div *ngFor="let userForm of userForms">
          <a *ngIf="userForm.uid === user.uid" (click)="goToForm(user.uid,userForm.formId);" class="secondary-content">&nbsp;&nbsp;{{userForm.formName}}</a>
        </div>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>

<ng-template #noItems>
  <hr>
  <h5>There are no user</h5>
</ng-template>